<table class="table table-bordered border-primary">
    <thead><td>대분류</td><td>대분류명</td><td>소분류</td><td>소분류명</td><td>시작일</td><td>종료일</td>
       
    </thead> 
   
    <tr><td>대분류코드</td><td>대분류이름</td><td>소분류코드</td>
        <td>소분류명</td><td>시작일</td><td>종료일</td>
      
    </tr>

</table>