<div class="container">	
    <h2>코드 입력</h2>
	<form action="/code/create_process" method="post" >
		<div class="mb-3">
			<label class="form-label" for="id">대분류</label> 
			<input class="form-control" type="text" name="main_id" placeholder="0000" style = "width:300px;" />
		</div>
        <div class="mb-3">
			<label class="form-label" for="id">대분류명</label> 
			<input class="form-control" type="text" name="main_name" style = "width:300px;" />
		</div>
        <div class="mb-3">
			<label class="form-label" for="id">소분류</label> 
			<input class="form-control" type="text" name="sub_id" style="width:300px;" />
		</div>
        <div class="mb-3">
			<label class="form-label" for="id">소분류명</label> 
			<input class="form-control" type="text" name="sub_name" style="width:300px;" />
		</div>
        <div class="mb-3">
			<label class="form-label" for="id">시작일</label> 
			<input class="form-control" type="text" name="start" id="start" style="width:300px;" />
		</div>
        <div class="mb-3">
			<label class="form-label" for="id">종료일</label> 
			<input class="form-control" type="text" name="end" id="end" style="width:300px;" />
		</div>
        <button class="btn btn-outline-primary btn-sm" type="submit">입력</button>
  </form>
</div>
