<div class="container">	
    <h2>코드 입력</h2>
	<form action="/code/create_process" method="post" >
		<div class="mb-3">
			<label class="form-label" for="id">대분류</label> 
			<input class="form-control" type="text" name="main_id" placeholder="대분류 입력" style = "width:300px;" />
		</div>
        <div class="mb-3">
			<label class="form-label" for="id">대분류명</label> 
			<input class="form-control" type="text" name="main_name" placeholder="대분류명 입력" style = "width:300px;" />
		</div>
        <div class="mb-3">
			<label class="form-label" for="id">소분류</label> 
			<input class="form-control" type="text" name="sub_id" placeholder="소분류 입력" style="width:300px;" />
		</div>
        <div class="mb-3">
			<label class="form-label" for="id">소분류명</label> 
			<input class="form-control" type="text" name="sub_name" placeholder="소분류명 입력" style="width:300px;" />
		</div>
        <div class="mb-3">
			<label class="form-label" for="id">시작일</label> 
			<input class="form-control" type="text" name="start" placeholder="startTime" id="start" style="width:300px;" />
		</div>
        <div class="mb-3">
			<label class="form-label" for="id">종료일</label> 
			<input class="form-control" type="text" name="end" placeholder="endTime" id="end" style="width:300px;" />
		</div>
        <button class="btn btn-outline-primary btn-sm" type="submit">입력</button>
  </form>
</div>
