<div class="container">	
	<h2>로그인</h2>
	<form action="/auth/login_process" method="post" >
		<div class="mb-3">
			<label class="form-label" for="id">아이디</label> 
			<input class="form-control" type="text" name="id" id="id" style="width:300px;" />
		</div>
		<div class="mb-3">
			<label class="form-label" for="pwd">비밀번호</label> 
			<input class="form-control" type="password" name="pwd" id="pwd" style="width:300px;"/>
		</div>
    <button class="btn btn-outline-primary btn-sm" type="submit">로그인</button>
  </form>
</div>

