<nav class="navbar navbar-expand-lg bg-body-tertiary bg-dark border-bottom border-body fixed-top" data-bs-theme="dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="/shop/all">Gachon</a>
    
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <!-- 메뉴 시작 -->
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/shop/all">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/code/view/v">코드</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/merchandise/view/v">상품</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/person/view/v">사용자</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">장바구니</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">구매내역</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            카테고리
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="/shop/0001">의류</a></li>
            <li><a class="dropdown-item" href="/shop/0002">식품</a></li>
            <li><a class="dropdown-item" href="#">가전</a></li>
            <li><a class="dropdown-item" href="#">도서</a></li>
            <li><a class="dropdown-item" href="#">스포츠</a></li>
            <li><a class="dropdown-item" href="#">자동차</a></li>
            <li><a class="dropdown-item" href="#">생활용품</a></li>
          </ul>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            게시판
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="/board/view/1/1">공지사항</a></li>
            <li><a class="dropdown-item" href="/board/view/2/1">Q & A</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="/board/type/view/v">게시판 종류</a></li>
          </ul>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            입력
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="/code/create">코드</a></li>
            <li><a class="dropdown-item" href="/merchandise/create">상품</a></li>
            <li><a class="dropdown-item" href="/person/create">사용자</a></li>
            <li><a class="dropdown-item" href="#">장바구니</a></li>
            <li><a class="dropdown-item" href="#">구매내역</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="/board/type/create">게시판 생성</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            수정
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="/code/view/u">코드</a></li>
            <li><a class="dropdown-item" href="/merchandise/view/u">상품</a></li>
            <li><a class="dropdown-item" href="/person/view/u">사용자</a></li>
            <li><a class="dropdown-item" href="#">장바구니</a></li>
            <li><a class="dropdown-item" href="#">구매내역</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="/board/type/view/u">게시판 수정</a></li>
          </ul>
        </li>

      </ul>
      <!-- 메뉴 끝 -->

      <!-- 검색창 시작 -->
      <form class="d-flex" role="search" action="/shop/search" method="post">
        <input class="form-control me-2" name="titleSearch" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
      <!-- 검색창 끝 -->

      <!-- 로그인 -->
      <ul class="me-auto mb-2 mb-lg-0">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <button type="button"  data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
          </a>
          <ul class="dropdown-menu">
            <% if(logined === 'YES'){ %>
            <li><a class="dropdown-item" href="/auth/logout_process">로그아웃</a></li>
            <% } else { %>
            <li><a class="dropdown-item" href="/auth/login">로그인</a></li>
            <li><a class="dropdown-item" href="/person/create">회원가입</a></li>
            <li><a class="dropdown-item" href="#">아이디/비번찾기</a></li>
            <% } %>
            
          </ul>
        </li>
      </ul>
      <!-- 로그인 끝 -->

    </div>
      <nav class="navbar bg-body-tertiary">
        <% if(logined === 'YES'){ %>
          <button class="btn btn-sm btn-outline-warning me-2" type="button">구매내역</button>
          <button class="btn btn-sm btn-outline-warning me-2" type="button">장바구니</button>
        <% } else { %>

        <% } %>
      </nav>  
    

    <nav class="navbar" >
      <div class="container-fluid text-white"  ><%=who%></div>
    </nav>

  </div>
</nav>  