<div class="person-add">
<div class="wrapper">

<div class="heading">
<h2>사용자 추가</h2>
<p>개인 정보만 사용해 주십시오!</p>
</div>

<form action="/person/create_process" method="post">
<div class="input-group">
 <input type="text" id="username" name="useName" class="input-field" placeholder="Username" >
</div>

<div class="input-group">
 <input type="password" id="password" name="pwd" class="input-field" placeholder="Password" >
</div>
  
  <div class="input-group">
 <input type="text" id="text" name="name" class="input-field" placeholder="Name" >
</div>
  
  <div class="input-group">
 <input type="text" id="address" name="address" class="input-field" placeholder="Address" >
</div>
  
  <div class="input-group">
 <input type="text" id="tel" name="tel" class="input-field" placeholder="Tel number" >
</div>
  
  <div class="input-group">
 <input type="text" id="birth" name="birth" class="input-field" placeholder="Birth" >
</div>

    <div class="input-group">
 <input type="text" id="point" name="class" class="input-field" placeholder="Class" >
</div>

  <div class="input-group">
 <input type="number" id="point" name="point" class="input-field" placeholder="Point" >
</div>

<button type="submit">추가</i></i></button>

</form>

<div class="input-group row">
 <div class="row">
    <a href="#" target="_blank">Forgot password?</a> 
 </div>
</div>
  
<footer>
    Leaning NodeJS ❤️ with <a href="https://www.facebook.com/profile.php?id=100010043976419" target="_black">CongDuc</a>
</footer>

</div>
